%p{:align => "center"}
  %strong Jesse Robinson
%p
  %strong
%p
  %strong 24 Newell road
%div
  %p
    %strong Merrick, New York 11566
    %strong
      %a{:href => "mailto:J3robinson1@gmail.com"} J3robinson1@gmail.com
    %strong Cell: 516.721.3342 Github: j3robinson1
%p
  %strong Professional Summary
%p
  Enthusiastic associates degree level college graduate with high integrity, strong work ethic and great leadership skills seeks employment as a
  = succeed " that will utilize his superb computer skills and further his knowledge of the field." do
    %strong Junior Software Engineer
%div
  %p
    %strong Relevant Skill Set
%p
  • Well-versed in Java, PHP, Python, CSS & JavaScript (including jQuery/AJAX/AngularJS)
%p
  • Fluent in HTML and Ruby (Ruby on Rails)
%p
  • Proficient in Microsoft Word, PowerPoint, Excel
%p
  • Efficient in Auto Desk 3DS Max & Photoshop
%p
  • iOS and Windows platform
%p
  • Excellent communication & organization skills
%p
  • Willing to relocate
%p
  • Goal oriented
%p
  • Friendly demeanor
%p
  • Outstanding interpersonal skills
%p
  • Fast learner
%p
  • Self-motivated
%p
  %strong
%div
  %p
    %strong Education
%p
  %strong The Iron Yard –
  %em
    Full Stack Ruby on Rails Engineer
    %strong>
    \-
  Charleston, SC
  %em March 2015
%p
  %strong Nassau Community College
  %strong
  %em -
  Garden City, NY
  %em September 2013 – December 2014
%div
  %p
    %strong Work History
%p
  %strong
    %em Independent Computer Repair
  %em July 2010
  %em –
  %em present
%p
  %em Freelance Computer Repairs
%p
  • clean out Spyware and Malware
  %em
%p
  • update operating systems
%p
  • install software
%p
  %strong
    %em
%p
  %strong
    %em Piano Tutor
  – Merrick, NY
  %em August 2009
  %em -
  %em present
  %em
%p
  Provide piano lessons to clients of all ages with progress guaranteed.
%p
  %strong
    %em
%p
  %strong
    %em Plattdeusche Park
  \- Franklin Square, NY
  %em January 2013 – July 2014
%p
  %em Head Chef -
  Responsible for keeping kitchen organized and appointing assignments for 10+ employees
  %em
%p
  %strong
    %em
%p
  %strong
    %em Amway
  %strong
    %em Independent Business Owner
  \- Merrick, NY
  %em Sep. 2011
  %em –
  %em Sept. 2012
%p
  Provide product sales both online retail and personal retail
%p
  Expand business through network marketing
%div
  %p
    %strong Volunteer Work
%p
  %strong
    %em Pinecrest Lutheran Leadership School
  %em August 2012
%p
  %em Cabin Leader
  \- Coordinated daily activities for more than 50 children with responsibility for their safety and welfare.
%p
  %strong
    %em
%p
  %strong
    %em Habitat for Humanity
  %em January 2012
%p
  Volunteered to repair homes in Mobile, Alabama and Wilmington, North Carolina
%p
  %strong
    %em
%p
  %strong
    %em Lutheran Youth Gathering
  \- New Orleans
  %strong
    %em
  %em July 2011
%p
  Participated in activities for children recovering from the effects of Hurricane Katrina
%p
  Assisted in feeding the homeless